body {
  background-color: rgb(231, 225, 225);
}
.side-bar{
  background-color: #52ABB1;
  height: 1100px;
  width: 300px;
  position: absolute;
  position: fixed;
}

.NAVBAR-WORDS{
  height:200px;
  width: 300px;
  }

li>a {
  display: block;
  color: white;
  line-height: 60px;
  text-align: center;
  font-size: 22pt;
}

ul {
  list-style-type: none;
  font-family: 'News Cycle', sans-serif bold;
  font-size: 20pt;
  padding-right: 60px;
  padding-top: 300px;
}

.img-selfie{
float: center;
margin-top: 80px;
margin-left: 50px;
}
/* MainPage */
.main-page {
  text-align: center;
  /* align-items: flex-start;
  justify-content: flex-start; */
  margin-top: 10px;
  height: auto;
 }
 #CONTACT{
 letter-spacing: 0.2em;
margin-top: -10px;
margin-bottom: -10px;
}
hr {
width: 100%;
margin-left: auto;
margin-right: auto;
height: 1px;
background-color:#666;
}
/* li {
  list-style-type: none;
  font-size: small;
  font-size: 12px;
} */
.Title {

  font-family: 'News Cycle', sans-serif, extra bold;
  font-size: 50pt;
  font-weight: 700;
 padding-bottom: 10px;
 padding-top: 40px;
  color: rgb(26, 168, 168);
  margin-bottom: -20px;
  max-width: 100%;
}
h1 {

  font-family: 'News Cycle', sans-serif, extra bold;
  font-size:40pt;
 padding-bottom: 10px;
 padding-top: 40px;
  color: rgb(26, 168, 168);
  margin-bottom: -20px;
  max-width: 100%;
}
h2 {
  font-family: 'News Cycle', sans-serif, bold;
  font-size: 25pt;
  padding-top: 30px;

}
h3 {
  font-family: 'News Cycle', sans-serif;
  font-size: 20pt;  
}
#ABOUT-ME{
text-justify: left;
text-align: left;

}


h4 {
  font-family: 'News Cycle', sans-serif, bold;
  font-size: 20pt;  
}




.work-history {
  text-align: left;
  align-items: flex-start;
  justify-content: flex-center;
  /* margin: 500px 20px 200px 20px; */
  /* height: 800px;
  padding-left: 400px; */
}
.sm-icons {
margin: 60px 0px 20px 30px;
  align-content: center;
}
.social-media-icons {
align-content: center;
justify-content: distribute;
}
.bottomSpacing{
  margin-bottom: 50px;
  margin-top: 100px;
}
a{
  color: rgb(26, 168, 168);
}