body {
  background-color: rgb(231, 225, 225);
}
.side-bar{
  background-color: rgb(43, 205, 226);
  height: 1100px;
  width: 400px;
  position: absolute;
  position: fixed;
}

li>a {
  display: block;
  color: white;
  line-height: 60px;
  text-align: center;
  font-size: 22pt;
}

ul {
  list-style-type: none;
  font-family: 'News Cycle', sans-serif bold;
  font-size: 20pt;
  padding-right: 80px;
  padding-top: 40px;
}

img{
float: center;
margin-top: 85px;
margin-left: 85px;


}
.main-page {
  text-align: center;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 200px 200px 80px 50px;
  height: 4000px;

 }
.h1 {
  font-family: 'News Cycle', sans-serif, bold;
  font-size: 16pt;
  margin: 0px 0px 0px 10px;
  color: rgb(26, 168, 168);
  
}
.h2 {
  font-family: 'News Cycle', sans-serif;
  font-size: 11pt;
 padding-left: 200px;
 
}
.h3 {
  font-family: 'News Cycle', sans-serif;
  font-size: 6pt;
  text-align: right;
  padding-left: 200px;
  
}