.side-bar {
  background-color: rgb(26, 168, 168);
  height: 1100px;
  width: 300px;
  padding-top: 100px;
  padding-left: 45px;

}
ul {
  list-style-type: none;
  font-family: 'News Cycle', sans-serif bold;
  font-size: 20pt;
  padding-right: 80px;
  padding-top: 40px;
}
  
.image-fluid {
 float: center;
padding:100px;

}
.main-page {
  text-align: center;
  align-items: flex-start;
  background-color: rgb(204, 19, 149);
  justify-content: flex-start;
  margin: 0px 20px 20px 50px;

 }
.h1 {
  font-family: 'News Cycle', sans-serif, bold;
  font-size: 16pt;
  margin: 0px 0px 0px 10px;
  color: rgb(26, 168, 168);
  
}
.h2 {
  font-family: 'News Cycle', sans-serif;
  font-size: 11pt;
 padding-left: 200px;
 
}
.h3 {
  font-family: 'News Cycle', sans-serif;
  font-size: 6pt;
  text-align: right;
  padding-left: 200px;
  
}
#navbar {
  width: 100%;
  height: 80 px;
}
#navbar.li {
width:200px;
list-style: none;
float: left;
}
li>a {
  display: block;
  color: white;
  line-height: 60px;
  text-align: center;
  font-size: 22pt;
}